* {box-sizing: border-box}

/* Add padding to containers */
.container {
  margin-bottom: 15%;
}

/* Full-width input fields */
input[type=text],input[type=int] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=int]:focus {
  width: 100%;
}

#description {
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 150px;
  vertical-align: top;
  background: #f1f1f1;
}

#category {
  width:100%;
  padding: 16px;
  background-color: #f1f1f1;
}


.alert-danger {
  color:red;
}

.btn-success:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section, maybe will implement this later */
.redirect {
  background-color: #f1f1f1;
  text-align: center;
}

.smallButton {
  background-color: #7365b8;
  color: white;
  margin-bottom: 30px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

@media only screen and (min-width: 481px){
  .smallButton {
    width: 20%;
  }
}


.smallButton:hover {
  opacity: 1;
}
