* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/*label, input {
       display: inline;
     }*/


/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=int] {
  padding-right: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
  //background-image: url("swiss-flag.png");
  background-position: 10px 10px;
  padding-left: 40px
  /*-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;*/
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=int]:focus {
  width: 100%;
}

.description {
  width: 70%;
  height: 150px;
}

.category {
  width:70%;
  padding: 16px;
  background-color: #f1f1f1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.alert-danger {
  color:red;
}

/* Set a style for  the submit button */
.btn-success {
  background-color: #9a0daf;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-success:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section, maybe will implement this later */
.redirect {
  background-color: #f1f1f1;
  text-align: center;
}
