<nav class="navbar">
  <ul>
    <li><a routerLink="../offers">View offers</a></li>
    <li class="active"><a routerLink="../createOffer">Publish an offer</a></li>
    <li style="float:right;"> <!--[hidden]="!isLoggedIn"--><a routerLink="../login">Sign in</a></li>
    <li style="float:right;"> <!--[hidden]="isLoggedIn"--> <a routerLink="../protected">Log out</a></li>
    <!--<li [hidden]="isLoggedIn" style="float:right; "> <button type="submit" class="logOut" (click)="logOut()">Log out</button> </li>
    <li style="float: right; padding: 10px 10px;"> <input type="search" id="search" placeholder="Search for an offer" style=""></li>-->
  </ul>
</nav>

<div style="overflow-y: scroll; max-height:90%">
  <div class="container">
    <div>
      <div [hidden]="isLoggedIn">
        Only logged-in Users can access this feature.
      </div>
      <form (ngSubmit)="onSubmit()" #offerCreationForm="ngForm" [hidden]="!isLoggedIn">
        <p>Note: Fields with an asterisk (*) must be filled in, other fields may be left empty.</p>
        <mat-form-field class="form-group">
          <mat-label>Title*</mat-label>
          <input matInput type="text" class="form-control" id="title" [(ngModel)]="model.title" name="title" #title="ngModel"
                 required placeholder="Enter a title for your offer"/>
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            You need a title for your offer.
          </div>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Description*</mat-label>
          <textarea matInput type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description"
                 #description="ngModel" required placeholder="Enter a description of your offer">{{model.description}}</textarea>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            You need a description for your offer.
          </div>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Price (per day/night; if billing is for another type, please leave empty and note in the
            description)</mat-label>
          <input matInput type="int" class="form-control" id="price" [(ngModel)]="model.price" name="price" #price="ngModel"
                 placeholder="Enter a price for your offer"/>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>From:</mat-label>
          <input matInput [matDatepicker]="myDatepicker1" type="text" class="form-control" id="dateFrom"
                 [(ngModel)]="model.dateFrom" name="dateFrom" #dateFrom="ngModel">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>To:</mat-label>
          <input matInput [matDatepicker]="myDatepicker2" type="text" class="form-control" id="dateTo" [(ngModel)]="model.dateTo"
                 name="dateTo" #dateTo="ngModel">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Category*</mat-label>
          <mat-select class="form-control" id="category"
                                                [(ngModel)]="model.category" name="category" required>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" class="btn btn-success" [disabled]="!offerCreationForm.form.valid"
                (click)="onSave(); offerCreationForm.reset()">Create offer
        </button>
      </form>
    </div>
  </div>
</div>
