* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 50%;
  margin-top: 6%;
  margin-left: 25%;
  margin-bottom: 15%;
}

/*label, input {
       display: inline;
     }*/


/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=int] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=int]:focus {
  width: 100%;
}

#description {
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 150px;
  vertical-align: top;
  background: #f1f1f1;
}

#category {
  width:100%;
  padding: 16px;
  background-color: #f1f1f1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.alert-danger {
  color:red;
}

/* Set a style for  the submit button */
.btn-success {
  background-color: #9a0daf;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-success:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section, maybe will implement this later */
.redirect {
  background-color: #f1f1f1;
  text-align: center;
}

.smallButton {
  background-color: #7365b8;
  color: white;
  margin-bottom: 30px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.smallButton:hover {
  opacity: 1;
}
