ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #9a0daf;
}

li {
  float: left;
  display: inline-block;
  overflow-x:auto;
}

@media only screen and (min-width: 481px) {
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 480px) {
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
}

li a:hover {
  background-color: #ffffff;
  color: black;
}

.active {
  background-color: #9d55af;
}

.logOut {
  display: block;
  color: white;
  background-color: #9d55af;
  font-size: 16px;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.logOut:hover {
  background-color: #ffffff;
  color: black;
}

.logOut:focus {
  border: none;
}

.staff {
  float: right;
}

/* Dropdown menu*/
@media only screen and (min-width: 481px) {
  .dropbtn {
    display:none;
  }

}
@media only screen and (max-width: 480px) {


  .dropbtn {
    float:left;
    left: 0;
    height: 30px;
    width: 30px;
    background-image:url('dropdown-icon.png');
    background-repeat:no-repeat;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }



  .dropdown {
    position: relative;
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #9a0daf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}
