ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #9a0daf;
}

li {
  float: left;
  display: inline-block;
  overflow-x: auto;
}

@media only screen and (min-width: 481px) {
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 480px) {
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
}

li a:hover {
  background-color: #ffffff;
  color: black;
}

.active {
  background-color: #9d55af;
}

.logOut {
  display: block;
  color: white;
  background-color: #9d55af;
  font-size: 16px;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.logOut:hover {
  background-color: #ffffff;
  color: black;
}

.logOut:focus {
  border: none;
}

.staff {
  float: right;
}

/* Dropdown menu styling */
/* Hide the links inside the navigation menu (except for logo/home) */
#mobile #links {
  display: none;
}

/* Style navigation menu links */
#mobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
#mobile a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
#mobile a:hover {
  background-color: #ddd;
  color: black;
}

#mobile .btn {height: 30px;
  width: 30px;
  background-image:url('dropdown-icon.png');
  background-repeat:no-repeat;
}



/* Vertical and horizontal menu toggling */


@media only screen and (min-width: 481px) {

  #mobile {
    display: none;
  }

}

@media only screen and (max-width: 480px) {

  #desktop {
    display: none;
  }

}
