<ul>
  <li><a routerLink="../offers">View offers</a></li>
  <li><a routerLink="../createOffer">Publish an offer</a></li>
  <li><a routerLink="../myOffers">My offers</a></li>
  <li><a routerLink="../adminOffers">[Admin] Offers</a></li>
  <li style="float:right;"><a routerLink="../login">Sign in</a></li>
  <li style="float:right;"><a routerLink="../register">Register</a></li>
  <li style="float:right;"><a routerLink="../protected">Log out</a></li>
</ul>

<!-- <li [hidden]="isLoggedIn" style="float:right; "><a routerLink="../login">Sign in</a></li>
<li [hidden]="isLoggedIn" style="float:right; "><a routerLink="../protected">Log out</a></li> -->
