<nav>
  <!-- Two navbars created for an easier specification -->
  <div id="desktop">
    <ul>
      <li><a routerLink="../offers">View offers</a></li>
      <li [hidden]="!isLoggedIn"><a routerLink="../createOffer">Publish an offer</a></li>
      <li [hidden]="!isLoggedIn"><a routerLink="../myOffers">My offers</a></li>
      <li [hidden]="!isAdmin"><a routerLink="../adminOffers">[Admin] Offers</a></li>
      <li [hidden]="isLoggedIn" class="staff"><a routerLink="../login">Sign in</a></li>
      <li [hidden]="isLoggedIn" class="staff"><a routerLink="../register">Register</a></li>
      <li [hidden]="!isLoggedIn" class="staff"><a routerLink="../changeUserData">Change User Data</a>
      </li>
      <li [hidden]="!isLoggedIn" class="staff">
        <button class="logOut" (click)="logOut()">Log out</button>
      </li>
    </ul>
  </div>
  <div id="mobile">
    <!-- Main navigation links (hidden by default) -->
    <ul>
      <div id="links">
        <a routerLink="../offers">View offers</a>
        <a [hidden]="!isLoggedIn" routerLink="../createOffer">Publish an offer</a>
        <a [hidden]="!isLoggedIn" routerLink="../myOffers">My offers</a>
        <a [hidden]="!isAdmin" routerLink="../adminOffers">[Admin] Offers</a>
      </div>
      <!-- "Bar icon" to toggle the main navigation links -->
      <button class="btn" (click)="toggleFunction()"> </button>
      <!-- Service navigation links -->
      <li [hidden]="isLoggedIn" class="staff"><a routerLink="../login">Sign in</a></li>
      <li [hidden]="isLoggedIn" class="staff"><a routerLink="../register">Register</a></li>
      <li [hidden]="!isLoggedIn" class="staff"><a routerLink="../changeUserData">User</a></li>
      <li [hidden]="!isLoggedIn" class="staff">
        <button class="logOut" (click)="logOut()">Log out</button>
      </li>
    </ul>
  </div>
</nav>
