@media only screen and (min-width: 481px) {
  div {
    overflow-y: scroll;
    margin-top: 4%;
    height: 100% - 8%;
    background-color: #ffffff;
  }
}

/* Mobile version needs different dimensions to display all the content properly */
@media only screen and (max-width: 480px) {
  div {
    overflow-y: scroll;
    margin-top: 21%;
    padding: 25px 8px 30px 8px;
    height: 100% - 8%;
    background-color: #ffffff;
  }
}

