div {
  margin-top: 4%;
  margin-bottom: 10%;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

/* Navigation bar styling*/
ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #9a0daf;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
  color: black;
}

.active {
  background-color: #9d55af;
}

.logOut {
  display: block;
  color: white;
  background-color:#9d55af;
  font-size: 16px;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.logOut:hover {
  background-color: #ffffff;
  color: black;
}

.logOut:focus {
  border: none;
}

