<div>
  <p style="margin-left: 26%; margin-top: 7%; font-weight:bold; color:red" [hidden]="isLoggedIn">Note: In order to see
    contact information, you must be logged in.</p>
  <div class="container">
    <form (ngSubmit)="onSearch()" #searchForm="ngForm" [hidden]="extended">
      <div class="form-group">
        <label for="category">Category: </label>
        <select class="form-control" id="category"
                [(ngModel)]="category" name="category">
          <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="searchKey">Search: </label>
        <input type="text" class="form-control" id="searchKey" [(ngModel)]="searchKey" name="search"
               placeholder="Search"/>
      </div>
      <button mat-button type="submit" class="btn btn-success">Search</button>
    </form>
    <button id="extended_search" (click)="extended=true" [hidden]="extended">Extended search</button>
    <form (ngSubmit)="onExtendedSearch()" #extendedForm="ngForm" [hidden]="!extended">
      <div class="form-group">
        <label for="categoryExtended">Category: </label>
        <select class="form-control" id="categoryExtended"
                [(ngModel)]="category" name="category">
          <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="searchKeyExtended">Search: </label>
        <input type="text" class="form-control" id="searchKeyExtended" [(ngModel)]="searchKey" name="search"
               placeholder="Search"/>
      </div>
      <p>Search in:</p>
      <div class="form-group">
        <input type="checkbox" name="searchInTitle" [(ngModel)]="searchInTitle" checked/> Title
        <input type="checkbox" name="searchInDescription" [(ngModel)]="searchInDescription"/> Description
        <input type="checkbox" name="searchInUsername" [(ngModel)]="searchInUsername" [hidden]="!isLoggedIn"/> <span
        [hidden]="!isLoggedIn"> Username</span>
      </div>
      <br> <br> <br>
      <button mat-button type="submit" class="btn btn-success">Search</button>
    </form>
    <button id="regular_search" (click)="extended=false" [hidden]="!extended">Regular search</button>
  </div>

  <div id="arrow_signifier">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="container">
    <app-offer-item [offerItem]="offerItem" *ngFor="let offerItem of offerItems"></app-offer-item>
    <div [hidden]="!(offerItems.length == 0)">Nothing to display</div>
  </div>
</div>
