.container {
  padding: 16px;
  width: 50%;
  margin-top: 6%;
  margin-left: 25%;
}

#category {
  width: 100%;
  padding: 16px;
  background-color: #f1f1f1;
}

.btn-success {
  background-color: #9a0daf;
  color: white;
  margin-bottom: 30px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-success:hover {
  opacity: 1;
}

input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.app-offer-item {

}

/* Navigation bar styling*/
ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #9a0daf;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
  color: black;
}

.active {
  background-color: #9d55af;
}

.logOut {
  display: block;
  color: white;
  background-color: #9d55af;
  font-size: 16px;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.logOut:hover {
  background-color: #ffffff;
  color: black;
}

.logOut:focus {
  border: none;
}
