.item {
  margin-bottom: 3%;
  border: 1px solid purple;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

table {
  width: 100%;
}

th, td {
  height: 50px;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #1e2023;
}

tr:nth-child(odd) {background-color: #e5aef1;}

tr:hover {background-color: #9d55af;}

/* Full-width input fields */
input[type=text], input[type=int] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=int]:focus {
  width: 100%;
}

#description {
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 150px;
  vertical-align: top;
  background: #f1f1f1;
}

#category {
  width:100%;
  padding: 16px;
  background-color: #f1f1f1;
}


.alert-danger {
  color:red;
}

/* The spaces between words and symbols will remain as they were input.*/
.description {
  white-space: pre-wrap;
}


button {
  background-color: #9a0daf;
  display: inline-block;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
