<div style="overflow-x:auto;">
  <div class="item">
    <div [hidden]="(editing || showDelete || showSetPublic || showDeny)">
      <p class="title">{{offerItem.title}}</p>
      <table>
        <tr>
          <th>About the offer</th>
          <td><p class="description">{{offerItem.description}}</p></td>
        </tr>
        <tr>
          <th>Price</th>
          <td><span class="price">{{offerItem.price}}</span></td>
        </tr>
        <tr>
          <th>Availability</th>
          <td><span class="availability">{{displayDateFrom}} - {{displayDateTo}}</span></td>
        </tr>
        <tr [hidden]="!offerItem.canBeEdited && !offerItem.canBeSetPublic">
          <th>Status</th>
          <td><span class="status">{{offerItem.status}}</span></td>
        </tr>
      </table>
      <button (click)="hideContactData=false; getContactInfo()" [hidden]="!hideContactData || !isLoggedIn">Show Contact
        Data
      </button>
      <button (click)="hideContactData=true" [hidden]="hideContactData || !isLoggedIn">Hide Contact Data</button>
      <div class="contactData" [hidden]="hideContactData">
        <table>
          <tr>
            <th>Username</th>
            <td>{{contactData.username}}</td>
          </tr>
          <tr>
            <th>Tel</th>
            <td>{{contactData.tel}}</td>
          </tr>
          <tr>
            <th>E-Mail</th>
            <td>{{contactData.email}}</td>
          </tr>
        </table>
      </div>
      <button style="background-color:#b81700; float:right;" (click)="showDelete=true"
              [hidden]="!isAdmin && (!offerItem.canBeDeleted || !isLoggedIn)">Delete
      </button>
      <button style="background-color:#ffeb06; float:right; color:black; font-weight: bold" (click)="showDeny=true"
              [hidden]="!offerItem.canBeSetPublic || !isAdmin">Deny request
      </button>
      <button style="background-color:#0ab84b; float:right;" (click)="showSetPublic=true"
              [hidden]="!offerItem.canBeSetPublic || !isAdmin">Set Public
      </button>
      <button (click)="onEdit()" [hidden]="!offerItem.canBeEdited || !isLoggedIn">Edit</button>
    </div>

    <div [hidden]="!showDelete">
      <p style="font-weight: bold; padding: 10px;">Are you sure you want to delete {{offerItem.title}}?</p>
      <button style="background-color:#b81700; float:left;" (click)="onDelete(); showDelete=false">Delete</button>
      <button style="background-color:#ffeb06; float:right; color:black; font-weight: bold" (click)="showDelete=false">
        Cancel
      </button>
    </div>

    <div [hidden]="!showSetPublic">
      <p style="font-weight: bold; padding: 10px;">Are you sure you want to set {{offerItem.title}} to public? This can
        be undone only by deleting the offer, or
        by the user changing it.</p>
      <button style="background-color:#0ab84b; float:left;" (click)="onSetPublic(); showSetPublic=false">Set public
      </button>
      <button style="background-color:#ffeb06; float:right; color:black; font-weight: bold"
              (click)="showSetPublic=false">Cancel
      </button>
    </div>

    <div [hidden]="!showDeny">
      <form (ngSubmit)="onDeny(); showDeny=false" #reasonField="ngForm">
        <label for="reason">Are you sure you want to deny this form? Please provide a reason why.</label>
        <input type="text" id="reason" [(ngModel)]="reason" name="reasonField" #reasonField="ngModel" required
               class="form-control" placeholder="reason"/>
        <button type="submit" class="btn btn-success" [disabled]="!reasonField.valid" (click)="onDeny()">Deny offer
        </button>
        <button (click)="showDeny=false; reason=''">Cancel</button>
      </form>
    </div>

    <div [hidden]="!editing">
      <form (ngSubmit)="onSubmit()" #editForm="ngForm">
        <p>Note: Fields with an asterisk (*) must be filled in, other fields may be left empty.</p>
        <div class="form-group">
          <label for="title">Title*</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="offerItem.title" name="title"
                 #title="ngModel"
                 required/>
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            You need a title for your offer.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description*</label>
          <textarea type="text" class="form-control" id="description" [(ngModel)]="offerItem.description"
                    name="description"
                    #description="ngModel" required>{{offerItem.description}}</textarea>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            You need a description for your offer.
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price (per day/night; if billing is for another type, please leave empty and note in the
            description)</label>
          <input type="int" class="form-control" id="price" [(ngModel)]="offerItem.price" name="price"
                 #price="ngModel"/>
        </div>
        <div class="form-group">
          <label for="dateFrom">From:</label><br>
          <mat-datepicker-toggle style="float:left; padding:13px;" matSuffix
                                 [for]="myDatepicker1"></mat-datepicker-toggle>
          <input style="width: 70%; float: left;" [matDatepicker]="myDatepicker1" type="text" class="form-control"
                 id="dateFrom"
                 [(ngModel)]="offerItem.dateFrom" name="dateFrom" #dateFrom="ngModel"> <br>
          <mat-datepicker #myDatepicker1></mat-datepicker>
          <br>
        </div>
        <br>
        <div class="form-group">
          <br><label for="dateTo">To:</label><br>
          <mat-datepicker-toggle style="float:left; padding:13px;" matSuffix
                                 [for]="myDatepicker2"></mat-datepicker-toggle>
          <input style="width: 70%; float: left;" [matDatepicker]="myDatepicker2" type="text" class="form-control"
                 id="dateTo"
                 [(ngModel)]="offerItem.dateTo" name="dateTo" #dateTo="ngModel"> <br>
          <mat-datepicker #myDatepicker2></mat-datepicker>
          <br>
        </div>
        <br>
        <div class="form-group">
          <br><label for="category">Category</label>
          <select class="form-control" id="category"
                  [(ngModel)]="offerItem.category" name="category" required>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid" (click)="onSave()">Save
          offer
        </button>
        <button (click)="onCancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
