/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* material */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@media only screen and (min-width: 481px) {
  .btn-success {
    padding: 16px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .btn-success {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.btn-success {
  background-color: #9a0daf;
  color: white;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-success:hover {
  opacity: 1;
}

.alert-danger {
  color:red;
}

@media only screen and (min-width: 1081px) {
  .container {
    padding: 16px;
    width: 50%;
    margin-left: 25%;
  }
}

.container {
  margin-top: 6%;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

